## Salary Predictions - Flask
Data Glacier - Henri Edwards

Prediction on Annual Salary given work experience.

<a id="cont"></a>

### Table of Contents

<a href=#1>1. Importing Packages</a>

<a href=#2>2. Loading the Data</a>

<a href=#4>4. Model Building</a>

### 1. Importing Packages
<a class="anchor" id="1"></a>
<a href=#cont>Back to Table of Contents</a>

In [1]:
import numpy as np
import pandas as pd
import sklearn
from sklearn.model_selection import train_test_split
from sklearn import datasets
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt
from sklearn import metrics
import pickle

### 2. Loading the Data
<a class="anchor" id="2"></a>
<a href=#cont>Back to Table of Contents</a>

- **Salary_Data.csv** â€“ Salaries & Experience

In [2]:
df = pd.read_csv("Salary_Data.csv")

### 3. Model Building
<a class="anchor" id="2"></a>
<a href=#cont>Back to Table of Contents</a>

In [3]:
df.head(3)

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0

In [5]:
df.shape

(30, 2)

In [6]:
# create targets and features dataset
y = df['Salary']
X = df.drop('Salary', axis=1)

In [7]:
# split data into test and train sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=50, shuffle=False)

In [8]:
# train linear regression model
lm = LinearRegression()
lm.fit(X_train, y_train)

LinearRegression()

In [9]:
# model performance
lm_predict = lm.predict(X_test)
lm_RMSE = metrics.mean_squared_error(y_test, lm_predict, squared=False)
lm_RMSE

4466.547189342462

In [10]:
# save the model to disk
with open('model.pkl', 'wb') as files:
    pickle.dump(lm, files)